body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.header {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    background-size: cover;
}

.text {
    text-align: center;
    position: absolute;
    color: white;
    top: 30%;


}

.button {
    background-image: linear-gradient(red, tomato);
    text-decoration: none;
    color: white;
    top: 800%;
    padding: 10px 15px;
    border-radius: 3px;
}

.money-div {
    border: 10px solid white;
    float: left;
    background-color: rgb(245, 239, 239);
    text-align: center;
    padding: 20px;
    padding-left: 20px;
    display: flex;
    width: 100%;
    margin: 0%;
    border: 10px;
    border-radius: 15px;
    border-color: aqua;





}

#div-color {
    background-color: lightcoral;
    border: 5px;
    border-color: brown;
}








.display-flex {
    display: flex;
}

.email {
    width: 100%;
    padding: 40px;
    background-color: beige;

    text-align: center;




}

.subscribe {
    background-image: linear-gradient(red, tomato);
    color: white;

}

.footer {
    text-align: center;
    padding: 15px 50px;
    background-color: black;
}

.footer-text {
    color: white;
    font-size: 8px;
    top: 3%;
    padding: 0;

}